
{{<base}}

{{$content}}

<h1>Recommended books</h1>
<ul>
    {{#books}}
        <li><a href='/books/{{id}}'>{{title}}</a></li>
    {{/books}}
    {{^books}}
        <li>No books to show!</li>
    {{/books}}
</ul>

{{/content}}

{{/base}}
